*{
    margin: 0;
    padding: 0%;
}
body{
    background-color: rgb(48, 43, 43);
    display: flex;
    /* place-items: center; */
    min-height: 100vh;
    background-image: url("./bg-intro-dessktop.png" );
    grid-template-areas: "header"
                      "main";
    margin-top: 0;
}
header{
    grid-area: header;
    width: 20%;
    margin-top: 0;
}
.navbar{
    padding: 10px;
    width: 100%;
    background-color: rgb(222, 184, 135);
    display: flex;
    margin-top: 0;
}
.nav-list li{
    list-style: none;
}
.navbar .nav-list a{
    text-decoration: none;
    color: black;
}
.navbar .nav-list li{
    float: left;
    padding-right: 50px;
}
a{
    text-decoration: none;
}
main{
    display: grid;
    grid-template-areas: 
    'a a a b b'
    'a a a b b'
    'c c d d d'
    'c c e e e';
    grid-gap:10px;
    width: 50%;
    margin: auto;
    grid-area: main;
    /* justify-content: center; */
    
   }

main div{
    padding: 50px;
    /* text-align: center; */
   
    /* border-radius: 5px; */
}

.box-1{
    background-color: orangered;
    grid-area: a;
    padding: 25%;
}
    .box-2{
        background-color: orange; 
        grid-area: b; 
        padding: 20px;
    }
     .box-3{
            background-color: green; 
            grid-area: c;
        }
        .box-4{
            background-color: deepskyblue;
            grid-area: d;

        }
        .box-5{
            background-color: deepskyblue;
            grid-area: e;
        }
        @media only screen and (max-width: 375px){
            main{
                width:80%;
            }
            .box-1{
                padding: 50%;
            }
        }
            
        
          